<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="danger">BACK<ion-icon slot="start" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" color="primary" [strong]="true">PAY <ion-icon slot="end" name="card-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <app-check-out-list [items]="items()"></app-check-out-list> -->

<ion-content>
  <ion-list *ngIf="orderHandlerService.getTotalProductQuantity() > 0">
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img [src]="item.product.image"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.product.name }}</h2>
          <p>Quantity: {{ item.quantity }}</p>
          <p class="price">{{ item.totalPrice }}€</p>
          <app-quantity-selector [(quantity)]="item.quantity"></app-quantity-selector>
        </ion-label> 
        <!-- <ion-icon slot="end" color="danger" name="trash" (click)="removeOrderItem(item, item.quantity > 1)"></ion-icon> -->
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <div class="no-products" *ngIf="items.length == 0"><p>No products</p></div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="price">Total Price: {{ orderHandlerService.order.totalPrice }}€</ion-title>
  </ion-toolbar>
</ion-footer>
