@import "../../../theme/fonts.scss";

ion-header {
  
  ion-title {
    font-family: $primary-font;
  }

  ion-button {
    font-family: $primary-font;
  }
}

ion-toolbar {
    ion-title {
      text-align: center;
    }
  }

  ion-icon[name="trash"] {
    color: red;
  }
  
  .no-products {
    font-family: $primary-font;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .price {
    font-family: $primary-font;
    font-weight: bold;
    color: green;
  }
  
  app-quantity-selector {
    position: absolute;
    left: 30%;
    transform: scale(0.6);
  }
  
  ion-icon {
    transform: scale(0.7);
  }