img {

    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-left: 0%;
}

.thumb {
    margin: 5%;
    margin-left: 0%;
    width: 10rem;
    height: 10rem;
    
    
}

.price {
    font-size: large;
    font-weight: bold;
    color: green;
    margin-top: 20%;
}

ion-item {
    
    
    width: 125%
}



