img {

    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-left: 0%;
}

ion-thumbnail.thumb {
    width: 11rem;
    height: 10rem;
    margin-left: 0%;
    margin-right: 0.3rem; /* Agrega un margen a la derecha */
    margin-bottom: 1rem; /* Agrega un margen inferior */
  }
  

h2{
    font-family: "fredo";
}

p {
    font-family: "fredo";
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 25ch;
}

.price {
    font-size: large;
    font-weight: bold;
    color: green;
    margin-top: 20%;
}

ion-item {
    width: 110%;
}

ion-item:focus {
    background-color: yellow;
  }
  

ion-label {
    margin-left: 5%;
    
}



