img {

    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-left: 0%;
}

.thumb {
    width: 150px;
    height: 150px;
}

.price {
    font-size: large;
    font-weight: bold;
    color: green;
    margin-top: 20%;
}


