.slider {
  height: 15rem;
}

.box {
  width: 100%; /* Establece el ancho al 100% para que el contenedor ocupe todo el ancho disponible */
  height: 140px; /* Cambia la altura según tu preferencia */
  text-align: center;
}

.rec {
  color: red;
  text-align: center;
  font-weight: bold;
}

.slide {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
