@import "../../../theme/fonts.scss";

.container {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        background-color: white;
}

.categories{
        color:black;
        
}

.container::-webkit-scrollbar {
        background-color: transparent; /* Fondo transparente */
}
      
.active {
        background-color: #cfcdcd;
}

ion-button{
        font-family: $primary-font;
}