.container {
        display: flex;
        flex-direction: row;
        overflow: scroll;
}

.categories{
        color:black;
        
}

.container::-webkit-scrollbar {
        background-color: transparent; /* Fondo transparente */
}
      
.active {
        background-color: #cfcdcd;
}