<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{item.product.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="add-cart" color="primary" (click)="confirm()" [strong]="true">Add to cart</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="product-container">
    <div class="product-image">
      <ion-img src="{{item.product.image}}" alt="{{item.product.name}}"></ion-img>
    </div>
    <div class="product-description">
      <p>{{item.product.description}}</p>
    </div>
    <app-quantity-selector [(quantity)]="item.quantity"></app-quantity-selector>
  </div>
</ion-content>
