
<app-header [title]="title"></app-header>

<app-slider [products]="(recomendedProducts$ | async) ?? []"></app-slider>

<app-categories
  [categories]="(categories$ | async) ?? []"
  (categorySelected)="categoryFilter$.next($event)"
></app-categories>

<ion-content>
  <app-scroller
    [products]="(products$ | async) ?? []"
    (productSelectedEvent)="onProductSelected($event)"
  ></app-scroller>
</ion-content>

<!-- Make this a component that depends on the OrderHandlerService -->
<!-- and emits an 'onCheckout' event -->
<ion-fab vertical="bottom" horizontal="end" style="transform: translateX(-30%);">
  <ion-fab-button (click)="onCheckout()">
      <ion-icon name="cart"></ion-icon>
      <ion-badge>{{this.orderHandlerService.getTotalProductQuantity()}}</ion-badge>
  </ion-fab-button>
</ion-fab>
